.game {
    margin-top: max( 20px, 2.6vw );
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap-reverse;
}


.game__area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game__scores {
    border-radius: 8px;
    border: 2px solid var(--color-laser-corps-gradient);
}


.game__occ-space {
    width: 15vw;
    min-width: 250px;
}
