.word {
    font-size: clamp( 50px, 4.7vw, 4.7vw);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

.word__correct {
    color: #54ba18;
}

.word__incorrect {
    color: #445298;
}


