.login {
    margin: auto;
    text-align: center;
    height: 100%;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.login__logo {
    width: 12.2vw;
    min-width: 100px;
    object-fit: contain;
}

.login__brand-name {
    color: var( --color-laser-corps-gradient );
}

.login__brand-title {
    font-size: clamp( 50px, 4.2vw, 4.2vw );
    margin: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
}

.login__brand-name-subtitle {
    font-size: clamp( 16px, 1.35vw, 1.35vw );
    display: flex;
    align-items: center;
    width: 32.2vw;
    min-width: 300px;
}
.login__brand-name-subtitle-left-line, 
.login__brand-name-subtitle-right-line {
    height: 1px;
    background-color: var( --color-laser-corps-gradient );
    flex: 1;
}

.login__brand-name-subtitle p {
    margin: 0;
    padding: 0 2vw;
    line-height: 1.2;
}

.login__name-input {
    margin-top: 60px;
}

.login__name-select {
    margin-top: 25px;
}

.login__start-button {
    margin-top: 5vw;
    font-size: clamp( 30px ,2.5vw, 2.5vw);
    line-height: 1.21;
    color: var( --color-laser-corps-gradient );
    display: flex;
    align-items: center;
    cursor: pointer;
}

.login__start-button img {
    height: 2.5vw;
    min-height: 30px;
}

.login__start-button p {
    margin: 0;
}

