/** variables */
:root {
  --color-white: #ffffff;
  --color-deep-teal: #00435d;
  --color-laser-corps-gradient: #ff5155;
  --color-beam-catcher: #032228;
  --color-highlight: #053a45;
  --color-beam-catcher-regular: #97a5a7;
  --color-beam-catcher-borders: #97a4a7;
}

body {
  margin: 0;
  font-family: "Gotham";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var( --color-white );
  background-image: url("/background.svg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

